<div>
    <input 
      type="text" 
      placeholder="Enter Keyword (title, source)" 
      [(ngModel)]="keyword" 
      class="search-container"
    />
  </div>
  
  <div class="articles">
    <div *ngFor="let item of articles | articleFilter:keyword" class="article">
      <h1 class="title" id="center">{{item.title}}</h1>
      <h2 id="center"><b>Source:</b> {{item.source.name}}</h2>
      <p id="center"><strong>Date: {{item.publishedAt | date}}</strong></p>
      <p class="summary"><b>Summary:</b> {{item.description}}</p>
    </div>
  </div>
  
